/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mini Framework */
html, body{
    height: 100%;
}

.max-width{
    width: 100%;
    min-height: 100vh;
}

.background{
    background-size: cover;
    height: auto;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

/* Tamanho das Fontes */
.text-gd{
    font-size: 64px;
}

.text-md{
    font-size: 36px;
}

.text-pq{
    font-size: 14px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

/* Cores de Texto */
.color-orange{
    color: coral;
}

.color-gray-1{
    color: #2b2b2b;
}

.color-gray-2{
    color: #545454;
}

/* Chamada */
.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

/* Imagem */
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}